<div
    data-sly-use.fichapessoal="br.com.mpa.sampleproject.core.models.FichaPessoal"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    data-sly-test.hasContent="${!fichapessoal.empty}">
    <h1 class="cpm-fichapessoal-item">Ficha Pessoal para Cadastro</h1>
    <h2 class="cpm-fichapessoal-item">Nome Completo: </h2>
    <p>${fichapessoal.name}<p>
    <h2>Apelido: </h2>
    <p>${fichapessoal.nickname}<p>
    <h2 class="cpm-fichapessoal-item">Aniversario: </h2>
    <p>${'dd-MM-YYYY' @ format=properties.aniversario}<p>
</div>


<sly
       data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!hasContent}"
></sly>